
/*------------------------------BACKGROUNDS----------------------------------*/

body{
    background-image:url(../assets/img/Asturias1.jpg);  
    /*background-attachment: fixed;*/
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}  


/*----------------------------------MENÚ y FOOTER-----------------------------------*/
/*footer*/
.footerMenu{
    display: flex;
    justify-content:center;
    align-items: end;
    margin-top: 100px;
    background-color: rgba(39, 39, 39, 0.576);
    color: #e2e6e8;
}

/*footer cada icono*/
.footer{
    color: #a9c7dc;
    padding: 15px;
}

/*icono home*/
.home{
    font-family:"Share Tech Mono", serif;
    color:  #102f44;
    text-decoration: none;
    font-size: 20px;
}

/*----------------------------------ESTACIÓN METEOROLÓGICA-----------------------------------*/
/*contenedor info x horas*/
#infoPorHoras{
    display: flex;
    justify-content: center; 
    align-items: center;
    border:  #0f3854 solid;
    border-radius: 20px;
    height:250px;
    width: 700px;
    margin-left:340px;
    background-color: rgba(39, 39, 39, 0.576);
    overflow-x: scroll;
}



/*contenedor grande cabecera*/
#infoActual{
    display: flex;
    flex-direction: wrap;
    justify-content: center; 
    align-items: center;
    border:  #0f3854 solid;
    border-radius: 20px;
    margin-left:340px;
    height:190px;
    width: 740px;
    background-color: rgba(39, 39, 39, 0.576);
}


/*contenedor ciudad, pais, estado tiempo y foto*/
.contenedor1{
    display: block;
    justify-content: center; 
    align-items: center;
    font-family:"Share Tech Mono", serif;
    color:  #d1dfe9;
    font-size: 16px;
    margin-right: 60px;
    margin-left:20px;

}


/*contenedor grados*/
.contenedor2{
    display: block;
    justify-content: center; 
    align-items: center;
    font-family:"Share Tech Mono", serif;
    color:  #102f44;
    -webkit-text-stroke: 0.2px #fafdff;
    font-size: 60px;
    margin-right: 60px;


}

/*contenedor precipitaciones, humedad y viento*/
.contenedor3{
    display: block;
    justify-content: center; 
    align-items: center;
    font-family:"Share Tech Mono", serif;
    color:   #d1dfe9;
    font-size: 16px;
    margin-right: 20px;

}

.contenedor4{
    display: block;
    justify-content:end; 
    align-items: center;
    font-family:"Share Tech Mono", serif;
    color:   #d1dfe9;
    font-size: 8px;
}


/* If screen size is LESS than 1200px wide */
@media (max-width: 1200px){ 
    /* Styles! */
}

/* If screen size is MORE than 800px wide */
@media (min-width: 800px){ 
    /* Styles! */
}

/* If screen size is BETWEEN 320px and 768px wide AND the orientation is in landscape mode */
@media (min-width: 320px) and (max-width: 768px) and (orientation: landscape) { 
    /* Styles! */
}


