/*------------------------------BACKGROUNDS----------------------------------*/
body{
    background-image:url(../assets/img/Asturias1.jpg);  
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}  


/*----------------------------------MENÚ------------------------------------*/
.navigation{
    color: #0f3854;
}

/*------------------------CSS CREADOR CONTRASEÑA SEGURA----------------------------*/

/*contenedor grande todo lo relacionado con contraseña*/
.contenedor-contraseña{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    height: 230px;
    border:  #0f3854 solid;
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 460px;
    margin-top:60px;
    background-color: rgba(39, 39, 39, 0.576);
}

/*contenedor titulo*/
.contenedor-titulo{
    font-size: 17px;
    font-family: "Audiowide", sans-serif;
    color:  #102f44;
    -webkit-text-stroke: 0.3px  #dee9f1;
    margin-bottom: -15px;
}

/*contenedor sub-titulo*/
.contenedor-subtitulo{
    font-size: 13px;
    font-family:"Share Tech Mono", serif;
    color:  #dee9f1;
}

/*contenedor input*/
.contenedor-selector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding-top: 5px;
    margin-top:-25px;
}

/*contenedor boton*/
.contenedor-boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding-top: 5px;
    margin-top:-25px;
    margin-left: 15px;
}

/*boton generar contraseña*/
#botonGenerar{
    border-radius: 15px  #0f3854;
    background-color: #1e4762;
    font-family:"Space Mono", serif;
    font-size: 14px;
    color: #a9c7dc;
    cursor: pointer;
}

#longitudInput{
    border-radius: 15px  #0f3854;
    background-color:#d1dfe9;
    font-family:"Space Mono", serif;
    font-size: 12px;
    cursor: pointer;
}

/*contendor donde muestra la contraseña*/
.contenedor-mostrar-contraseña{
    background-color:#d1dfe9;
    width: 390px;
    height: 22px;
    border-radius: 15px;
    margin-top:15px;
    padding-top: 15px;
}
/*campos donde se muestra la contraseña*/
#resultadoContraseña{
    color:  #0f3854;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family:"Space Mono", serif;
    margin-top: -5px;
}



/*////////////////////////footer/////////////////////////////////*/
.footerMenu{
    display: flex;
    justify-content:center;
    align-items: end;
    margin-top: 300px;
    background-color: rgba(39, 39, 39, 0.576);
    color: #e2e6e8;

}

/*footer cada icono*/
.footer{
    color: #a9c7dc;
    padding: 15px;

}

/*icono home*/
.home{
    font-family:"Share Tech Mono", serif;
    color:  #102f44;
    text-decoration: none;
    font-size: 20px;
}