
/*------------------------------BACKGROUNDS----------------------------------*/
body{
    background-image:url(../assets/img/Asturias1.jpg);   
}  


/*----------------------------------MENÚ------------------------------------*/
.navigation{
    color: #0f3854;
}

/*------------------------CSS RELOJ Y FECHA DIGITAL---------------------------*/

/*contenedor grande fecha y hora*/
.contenedor-dia-hora{
    font-family: "Orbitron", sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    width:100%;
    color: white;
    margin-top:-25px;
}

/*contenedor hora*/
.reloj{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    letter-spacing: 12px;
    -webkit-text-stroke: 1.2px #0f3854;
    
}

/*contenedor fecha*/
.dia-mes-año{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 8px;
    -webkit-text-stroke: 1px #0f3854;
}

/*contenedor-frases*/
.contenedor-frases{
    font-family: "Orbitron", sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 50px;
    color: white;
    padding-top: 30px;
    margin-top: -20px;
}

/*formato frases*/
#frases{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Mono", serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 4px;
    padding-top: 20px;
    background-color: #0f3854;
    padding: 10px;
}

/*------------------------CSS CREADOR CONTRASEÑA SEGURA----------------------------*/

/*contenedor grande todo lo relacionado con contraseña*/
.contenedor-contraseña{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    height: 230px;
    border:  #0f3854 solid;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 110px;
    background-color: rgba(39, 39, 39, 0.576);
}

/*contenedor titulo*/
.contenedor-titulo{
    font-size: 17px;
    font-family: "Audiowide", sans-serif;
    color:  #102f44;
    -webkit-text-stroke: 0.3px  #dee9f1;
    margin-bottom: -15px;
}

/*contenedor sub-titulo*/
.contenedor-subtitulo{
    font-size: 13px;
    font-family:"Share Tech Mono", serif;
    color:  #dee9f1;
}

/*contenedor input*/
.contenedor-selector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding-top: 5px;
    margin-top:-25px;
}

/*contenedor boton*/
.contenedor-boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding-top: 5px;
    margin-top:-25px;
    margin-left: 15px;
}

/*boton generar contraseña*/
#botonGenerar{
    border-radius: 15px  #0f3854;
    background-color: #1e4762;
    font-family:"Space Mono", serif;
    font-size: 14px;
    color: #a9c7dc;
    cursor: pointer;
}

#longitudInput{
    border-radius: 15px  #0f3854;
    background-color:#d1dfe9;
    font-family:"Space Mono", serif;
    font-size: 12px;
    cursor: pointer;
}

/*contendor donde muestra la contraseña*/
.contenedor-mostrar-contraseña{
    background-color:#d1dfe9;
    width: 390px;
    height: 22px;
    border-radius: 15px;
    margin-top:15px;
    padding-top: 15px;
}
/*campos donde se muestra la contraseña*/
#resultadoContraseña{
    color:  #0f3854;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family:"Space Mono", serif;
    margin-top: -5px;
}

/*---------------------------LINKS INTERÉS----------------------------------*/

/*contenedor grande de los links*/
.contenedor-links{
    display: block;
    justify-content: center;
    width: 450px;
    height: 230px;
    border:  #0f3854 solid;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 110px;
    height: 500px;
    background-color: rgba(39, 39, 39, 0.576);
}

/*boton añadir enlace*/
.botonAñadir{
    font-family:"Space Mono", serif;
    background-color: #1e4762;
    cursor: pointer;
    font-size: 15px;  
    width: 350px;
    color:#d1dfe9;
}

/*contenedor añadir enlace*/
.contenedor-botonAñadir{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 35px;
}

/*contenedor titulo*/
.titulo{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color:  #102f44;
    -webkit-text-stroke: 0.3px #dee9f1;
    margin-bottom: -15px;
    padding: 15px;
}

/*contenedor de los dos input*/
.contenedor-tituloLink, .contenedor-urlLink{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/*input donde meteo nombre del link y la url*/
.tituloLink,.urlLink{
    font-size: 12px;
    height: 30px;
    width: 350px;
    font-family:"Space Mono", serif;
    background-color:#d1dfe9;
}

/*contenedor links*/
.contenedor-listado-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-left: 15px; 
}

 
/*cada links que voy guardando*/
.listaLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    font-family:"Space Mono", serif;
    color:  #d1dfe9;
    margin-top: 25px;
    width: 150px;
    height: 35px;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: -45px;
    cursor: pointer; 
}

/*los links guardados en el local storage*/
.favoritos{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    font-family:"Space Mono", serif;
    color:  #d1dfe9;
    margin-top: 25px;
    width: 150px;
    height: 35px;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: -45px;
    cursor: pointer; 
}

/*botón eliminar*/
.btnEliminarLink{
    width: 10px;
    height: 15px;
    font-size: 10px;
    font-family:"Space Mono", serif;
    background-color: #d1dfe9;
    color:#2a2b2c;
    cursor: pointer;
    margin-left: 25px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

/*---------------------------ESTACIÓN METEOROLÓGICA----------------------------------*/

/*contenedor grande cabecera*/
#infoActual{
    display: flex;
    justify-content: center; 
    align-items: center;
    border:  #0f3854 solid;
    border-radius: 20px;
    margin-top: -760px;
    margin-left:600px;
    height:750px;
    width: 850px;
    background-color: rgba(39, 39, 39, 0.576);
}


/*contenedor ciudad, pais, estado tiempo y foto*/
.contenedor1{
    display: block;
    justify-content: center; 
    align-items: center;
    font-family:"Share Tech Mono", serif;
    color:  #d1dfe9;
    font-size: 16px;
    margin-right: 60px;
    margin-left:20px;
    margin-top:-500px;
}


/*contenedor grados*/
.contenedor2{
    display: block;
    justify-content: center; 
    align-items: center;
    font-family:"Share Tech Mono", serif;
    color:  #102f44;
    -webkit-text-stroke: 0.2px #fafdff;
    font-size: 60px;
    margin-right: 60px;
    margin-top:-500px;

}

/*contenedor precipitaciones, humedad y viento*/
.contenedor3{
    display: block;
    justify-content: center; 
    align-items: center;
    font-family:"Share Tech Mono", serif;
    color:   #d1dfe9;
    font-size: 16px;
    margin-right: 20px;
    margin-top:-500px;
}

/*contenedor grande de los datos por horas*/
#infoPorHoras{
    display: flex;
    justify-content: center;   
}


/*logo API
#weatherAPI{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-bottom: 1300px;
    width: 10px;
    height: 10px;
}
*/


/*footer*/
.footerMenu{
    display: flex;
    justify-content:center;
    align-items: end;
    margin-top: 300px;
    background-color: rgba(39, 39, 39, 0.576);
    color: #e2e6e8;

}

/*footer cada icono*/
.footer{
    color: #a9c7dc;
    padding: 15px;

}

/*icono home*/
.home{
    font-family:"Share Tech Mono", serif;
    color:  #102f44;
    text-decoration: none;
    font-size: 20px;
}